{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'todo/bootstrap.min.css' %}">
    <title>Title</title>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-light" style="background-color: #87CEFA;">
    <a class="navbar-brand" href="#"><span class="text-white">TO-DO</span></a>

      <a href="{% url 'todo:todo_create' %}" role="button">
          <button type="button" class="btn btn-success">
              Создать
          </button>
      </a>
  </nav>
</div>

<div class="container">
    <div class="row">
    </div>
</div>

<div class="container">
    <br>
</div>

<div class="container">
    {% block content %}
        replace me
    {% endblock content %}
</div>

</body>
</html>